/* gap */
.gap-0 {
  gap: var(--spacing-0);
}

.gap-1 {
  gap: var(--spacing-1);
}

.gap-2 {
  gap: var(--spacing-2);
}

.gap-3 {
  gap: var(--spacing-3);
}

.gap-4 {
  gap: var(--spacing-4);
}

.gap-5 {
  gap: var(--spacing-5);
}

.gap-6 {
  gap: var(--spacing-6);
}

.gap-8 {
  gap: var(--spacing-8);
}

.gap-10 {
  gap: var(--spacing-10);
}

.gap-12 {
  gap: var(--spacing-12);
}

/* Row & Column Gap */
.gap-x-2 {
  column-gap: var(--spacing-2);
}

.gap-x-4 {
  column-gap: var(--spacing-4);
}

.gap-x-6 {
  column-gap: var(--spacing-6);
}

.gap-y-2 {
  row-gap: var(--spacing-2);
}

.gap-y-4 {
  row-gap: var(--spacing-4);
}

.gap-y-6 {
  row-gap: var(--spacing-6);
}
