.search-panel {
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding: 0 16px;
  background-color: var(--color-gray-200);
  visibility: hidden;
}

.search-panel.open {
  transform: translateX(0);
  visibility: visible;
}

@media (width >= 767px) {
  .search-panel {
    padding: 0;
    backdrop-filter: blur(30px);
    background-color: rgb(0 0 0 / 70%);
  }

  .search-panel-content {
    width: 40%;
  }
}
