.login-card-contents {
  width: 100%;
  min-width: 320px;
  max-width: 320px;
}

.login-card {
  width: 40vw;
  min-width: 400px;
}

.bg-screen {
  min-height: 100vh;
}

.left-side-image {
  display: none;
}

.divider-line {
  flex: 1;
  height: 1px;
}

.captcha-class {
  width: auto;
  height: 150px;
  border: 1px solid;
}

.brand-logo {
  width: 150px;
  height: auto;
}

@media (width <= 500px) {
  .bg-screen {
    min-height: 100vh;
    min-width: 500px;
  }

  .login-card {
    width: auto;
  }
}

@media (width >= 501px) and (width <= 1050px) {
  .bg-screen {
    background-image: url("../../src/assets/image/bgAuthPage.webp");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
  }

  .login-card {
    margin: 0 auto;
    border-radius: var(--radius-lg);
  }
}

@media (width >= 1051px) {
  .bg-screen {
    flex-direction: row;
    min-height: 93vh;
    align-items: stretch;
  }

  .left-side-image {
    display: block;
    width: 100%;
  }

  .left-side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .login-card {
    width: 65vw;
    margin-left: auto;
    margin-right: 0;
  }
}

/* login password page */
.signup .button-text {
  text-decoration: underline;
}

/* sigup page */
.salutation {
  z-index: 1000;
}

/* Style checkboxes with class checkboxlogin [sign up page] */
.checkboxlogin {
  accent-color: #007bff;
  width: 13px;
  height: 13px;
}

/* opt code page  */

.otp-input legend-textbox .textbox-fieldset .textbox-input {
  font-size: var(--font-size-p2);
}

.otp-input legend-textbox .textbox-fieldset {
  padding: 12px 24px;
  margin: 4px 0 0;
}

.button-login base-button button {
  cursor: pointer;
}

.button-login icon-button {
  cursor: auto;
}
