.pop-up {
  width: calc(100% - 24px);
  height: 78px;
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  transition: all 0.3s ease;
  animation: slide-down 0.3s ease-out;
}

.scroll-trigger {
  width: 100%;
}

.pop-up-image {
  width: 52px;
  height: 52px;
}

.pop-up-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pop-up-content p {
  font-size: var(--font-size-p2);
  margin-bottom: 4px;
  color: var(--color-black);
}

.price {
  font-size: var(--font-size-p3);
  font-weight: 600;
  color: var(--color-black);
}

.tax {
  font-size: var(--font-size-p4);
  color: var(--color-grey--100);
}

.squares {
  width: 60px;
  height: 60px;
  border: 2px solid;
  cursor: pointer;
}

.info-button {
  width: fit-content;
}

@media (width <=767px) {
  .info-button {
    width: 100%;
  }
}

@keyframes slide-down {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
