/* Icon size */
.icon-s {
  width: var(--icon-s);
  height: var(--icon-s);
}

.icon-default {
  width: var(--icon-default);
  height: var(--icon-default);
}

.icon-l {
  width: var(--icon-l);
  height: var(--icon-l);
}

.icon-xl {
  width: var(--icon-xl);
  height: var(--icon-xl);
}
