.bg-success {
  background-color: var(--color-success-bg);
}

.bg-warning {
  background-color: var(--color-warning-bg);
}

.bg-error {
  background-color: var(--color-error-bg);
}

.bg-info {
  background-color: var(--color-info-bg);
}

.bg-primary {
  background-color: var(--color-primary-color);
}

.bg-secondary {
  background-color: var(--color-secondary-color);
}

.bg-transparent {
  background-color: transparent;
}
