/* styles/utils/gradients.css */

.fade-gradient-top {
  background-image: linear-gradient(to top, var(--fade-stops));
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}

.fade-gradient-bottom {
  background-image: linear-gradient(to bottom, var(--fade-stops));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}

.fade-gradient-left {
  background-image: linear-gradient(to left, var(--fade-stops));
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50% 100%;
}

.fade-gradient-right {
  background-image: linear-gradient(to right, var(--fade-stops));
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
}
