.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.4s ease,
    padding 0.3s ease,
    margin-top 0.3s ease;
}

.accordion.open .accordion-content {
  max-height: 1000px;
}

.toggle-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.accordion.open .toggle-icon {
  transform: rotate(-180deg);
}

.desc-value-list li {
  display: list-item;
  list-style-type: square;
}

.desc-value-list li::marker {
  font-size: 0.75rem;
}

@media (width >= 760px) {
  .accordion-content.responsive {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-4);
  }

  .accordion-content.responsive .row {
    width: calc(50% - var(--gap-2));
  }
}
