ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

.header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.header-nav {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-width: 880px;
}

.header-nav::-webkit-scrollbar {
  display: none;
}

@media (width >= 910px) {
  .header-nav {
    white-space: nowrap;
    display: flex;
  }
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav ul li a {
  padding: 0.1rem 0.2rem;
  border-radius: var(--radius-md);

  /* Smooth transition */
  transition: background-color 0.8s ease;
}

.header-nav ul li a:hover {
  background-color: var(--color-gray-300); /* contrast background */
}
