base-header[mode="dark"] main-navigation {
  background-color: black;
  color: white;
}

base-header[mode="dark"] header-toolbar {
  background-color: black;
}

base-header[mode="dark"] header-toolbar .header-icon-left,
base-header[mode="dark"] header-toolbar .header-icon-right,
base-header[mode="dark"] header-toolbar .header-icon-center-tablet {
  color: white;
  filter: brightness(0) invert(1);
}

base-header[mode="dark"] header-toolbar hamburger-panel .hide-mobile #close-button,
base-header[mode="dark"] header-toolbar search-panel .hide-mobile #close-button,
base-header[mode="dark"] header-toolbar profile-panel .hide-mobile #close-button {
  color: black;
  filter: brightness(0) invert(1);
}

.full-divider {
  all: unset;
  display: block;
  width: 100vw;
  height: 1px;
  background-color: black;
  margin: 0;
}
