.icon-button {
  width: auto;
  height: 25px;
}

.icon-button-small {
  width: 32px;
  height: 32px;
}

.icon-button-large {
  width: 48px;
  height: 48px;
}

.iconbutton-icon {
  width: auto;
  height: 100%;
  object-fit: contain;
}
