.pg-thumbnails {
  width: 115px;
}

.pg-thumbnails .pg-thumb {
  top: var(--offset-4);
  height: 82.125px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border: var(--border-width-medium) var(--border-style-solid) transparent;
  outline: none;
}

.pg-thumbnails .pg-thumb:hover {
  border: var(--border-width-medium) var(--border-style-solid) var(--color-gray-400);
  transform: scale(1.1);
}

.pg-thumbnails .pg-thumb.pg-active {
  border-color: var(--border-color-default);
}

.pg-main-view {
  flex-grow: 1;
  height: 100vh;
}

.pg-main-img {
  box-sizing: border-box;
  height: 100vh;
  cursor:
    url("../../../assets/icons/interface-controll/cursorplus.svg") 16 16,
    pointer;
}

.pg-main-img.pg-zoomed:active {
  cursor: grabbing;
}

.pg-close-btn {
  cursor: pointer;
}

.pg-close-btn .pg-btn-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
  transition: opacity 0.2s;
}

.pg-close-btn:hover .pg-btn-icon {
  opacity: 0.6;
}

.pg-arrow-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.pg-arrow-left {
  transform: rotate(90deg);
}

.pg-main-view .pg-main-img {
  cursor:
    url("${cursorplus}") 16 16,
    zoom-in;
}

.pg-main-view .pg-main-img.pg-zoomed {
  transform: scale(1.5);
  cursor: grab;
}

.pg-arrow-right {
  transform: rotate(270deg);
}

/* MOBILE STYLES + tablet */
@media (width <= 1026px) {
  .pg-container {
    flex-direction: column;
    align-items: center;
  }

  .pg-main-view {
    width: 100%;
    height: fit-content;
  }

  .pg-main-view img {
    width: 100%;
    max-height: fit-content;
    object-fit: contain;
    border-radius: 0;
  }

  .pg-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: var(--z-2000);
  }

  .pg-nav button {
    border: none;
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
  }

  .pg-nav button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .pg-nav .pg-counter {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  .pg-close-btn {
    top: 8px;
    right: 8px;
  }
}
