.hamburger-panel {
  transform: translateX(-100%);
  transition: all 0.6s cubic-bezier(0.3, 1, 0.8, 1);
  width: 50%;
}

.hamburger-panel.open {
  transform: translateX(0);
}

@media (width >= 767px) {
  .hamburger-panel {
    width: 50%;
  }
}
