.hamburger-panel {
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.hamburger-panel.open {
  transform: translateX(0);
}

.hamburger-panel-content {
  padding-top: 20px;
}

@media (width >= 767px) {
  .hamburger-panel {
    backdrop-filter: blur(30px);
    background-color: rgb(0 0 0 / 70%);
  }

  .hamburger-panel-content {
    width: 40%;
    padding-top: 80px;
  }
}
