.image1 {
  width: 60px;
  aspect-ratio: 1.8 / 2;
  object-fit: cover;
}

.arrow {
  transform: rotate(-90deg);
}

.text {
  min-width: 40px;
}

.image {
  min-width: 60px;
  max-width: 100px;
  width: 100%;
  height: auto;
}
