.profile-panel {
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  visibility: hidden;
}

.profile-panel.open {
  transform: translateX(0);
  visibility: visible;
}

.profile-panel-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 767px) {
  .profile-panel {
    padding: 0;
    backdrop-filter: blur(30px);
    background-color: rgb(0 0 0 / 70%);
  }

  .profile-panel-buttons {
    display: flex;
    gap: 10px;
  }

  .profile-panel-content {
    width: 40%;
  }
}
