/* Apply typography styles */
.display-xl {
  font: var(--font-display-xl);
}

.display-lg {
  font: var(--font-display-lg);
}

.display-md {
  font: var(--font-display-md);
}

h1,
.heading-xl {
  font: var(--font-heading-xl);
}

h2,
.heading-lg {
  font: var(--font-heading-lg);
}

h3,
.heading-md {
  font: var(--font-heading-md);
}

h4,
.heading-sm {
  font: var(--font-heading-sm);
}

h5,
.heading-xs {
  font: var(--font-heading-xs);
}

.body-lg {
  font: var(--font-body-lg);
}

.body-md,
p {
  font: var(--font-body-md);
}

.body-sm {
  font: var(--font-body-sm);
}

.body-xs {
  font: var(--font-body-xs);
}

.body-2xs {
  font: var(--font-body-2xs);
}

.body-3xs {
  font: var(--font-body-3xs);
}

/* Text */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.text-disable {
  color: var(--color-gray-500);
}

.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}

.text-error {
  color: var(--color-error);
}

.text-vintage {
  color: var(--color-vintage);
}

.text-trust {
  color: var(--color-trust);
}

.text-info {
  color: var(--color-info-content);
}
